html,
body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body .pi {
  font-size: 1.6em !important;
}

body .p-slidemenu .p-menuitem .p-menuitem-link .p-submenu-icon {
  right: 0.7em;
}

header {
  background: #fdfdfd;
  border-bottom: solid 0.1em #eee;
}

footer {
  background: #eee;
  border-top: solid 0.1em #dedede;
  font-size: 1.1em;
  padding: 10px;
  color: #212121;
}

footer a {
  color: #212121;
}

h4,
h3,
h2,
h1 {
  margin: 10px 0;
}

.centerAlign {
  text-align: center;
}
.rightAlign {
  text-align: right;
}
.leftAlign {
  text-align: left;
}
.padding15 {
  padding: 1.5em;
}
.margin25 {
  margin-right: 2.5em;
}
.pdTL10 {
  padding: 1em 0 0 1em;
}
.pdTR10 {
  padding: 1em 1em 0 0;
}

/* override button */
.p-button-text-icon-left .p-button-text {
  margin-left: 0.5em;
}
body .p-button.p-button-secondary:enabled:focus,
body .p-buttonset.p-button-secondary > .p-button:enabled:focus {
  box-shadow: none;
}
body a:active,
body a:focus {
  color: transparent;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* override sidebar */
.sidebar-title {
  margin: 0 0 1em 0;
}
.p-sidebar {
  padding: 1.5em !important;
}
.p-sidebar-close.p-link {
  margin-top: -1.4em;
  margin-right: -1.4em;
}
.mxWidth480 {
  max-width: 48em;
  margin: 0 auto;
}

#root,
.app {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container-section {
  height: 100%;
}

/* home style */
.home .p-multiselect {
  min-width: 22em;
}
body .p-multiselect-panel .p-multiselect-header .p-multiselect-close{
  margin-top: -0.75em;
  margin-right: 0.25em;
}
/* home style */
